@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&family=Noto+Sans+JP:wght@300;400;500;700&family=Varela+Round&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #FDF6F8;
    color: #4A4A4A;
    font-family: 'Noto Sans JP', sans-serif;
}